@tailwind base;
@tailwind components;
@tailwind utilities;
@import "fonts.css";

* {
  font-family: "Raleway";
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 12px;
}

/* Track */
body::-webkit-scrollbar-track {
  border-radius: 6px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: rgba(209, 213, 219);
  border-radius: 6px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #adadad;
}

body::-webkit-scrollbar-thumb:active {
  background: #7a7a7a;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

:root {
  --primary: #015351;
  --secondary: #f7882f;
  --primary-text: #000000;
  --secondary-text: #ffffff;
}

//

.AccountSettingsContainer {
  font-family: "Raleway-Regular", sans-serif;
  font-style: none;
}

.AccountSettingsHeader p {
  font-size: 30px;
  margin-bottom: 0.2em;
  padding-left: 1em;
}

.AccountInfoContainer {
  border: 0.1em solid;
  padding: 7%;
  color: rgb(70, 70, 70);
}

.AccountInfo form {
  margin-bottom: 5%;
}

.AccountInfo label {
  font-weight: bold;
  font-size: large;
  color: rgb(12, 83, 83);
  display: inline-block;
  width: 15em;
  text-align: right;
  padding-right: 1.5em;
}

.AccountInfo input {
  font-size: large;
}

.ServiceDetailsContainer {
  border: 0.2em solid;
  color: rgb(12, 83, 83);
  padding-top: 1em;
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 5%;
}

.ServiceDetails p {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 2em;
}

.ServiceInfo form {
  margin-bottom: 10%;
}

.ServiceInfo label {
  font-size: large;
  color: #feba36;
  background-color: rgb(12, 83, 83);
  background-clip: content-box;
  display: inline-block;
  width: 15em;
  text-align: center;
  padding-right: 1.5em;
}

.ServiceInfo input {
  font-size: large;
}

.AccountSettingsButtonsContainer {
  margin-top: 2em;
}

.AccountSettingsButtons {
  display: inline-block;
  margin-left: 36%;
  margin-right: 36%;
}

.AccountSettingsButtons button {
  font-size: large;
  width: 7em;
}

.submitButton {
  background-color: #feba36;
  color: white;
}

.submitButton:hover {
  background-color: rgb(12, 83, 83);
  color: #feba36;
}

.submitButton:active {
  background-color: rgb(12, 83, 83);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.cancelButton:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
