.appLogoStyle {
  display: inline-block;
  width: 6.3125rem;
  height: 6.3125rem;
  cursor: pointer;
}

.appNameStyle {
  font-size: 1.6875rem;
  font-family: "Raleway-Bold";
  margin: auto;
  padding-left: 1.125rem;
  cursor: pointer;

  @media screen and (max-width: 1200px) {
    display: none;
  }
}
