.navbar {
  background-color: var(--secondary-text);
  margin-top: 4rem;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 1.6875rem 5.3125rem;
  z-index: 10;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);;
}

.navdiv {
  display: flex;
  align-items: center;
}

