.navbar {
  background-color: var(--secondary-text);
  margin-top: 4rem;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 1.6875rem 5.3125rem;
}

.navdiv {
  display: flex;
  align-items: center;
}

